<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>StoreAppSp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div>TODO write content</div>
        <h1>Store App Spring MVC</h1>
        <p th:text="Saludos..."></p>
        <p th:text="${mensaje}"></p>
        <h2>Msg from application.propierties</h2>
        <p th:text="${msgapp}"></p>
        <table border="1" >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
            <tr>
                <td th:text="${customer.customerID}">ID</th>
                <td th:text="${customer.customerName}">Name</th>
                <td th:text="${customer.mobileno}">Mobile</th>
                <td th:text="${customer.email}">Email</th>
            </tr>
        </table>
        <div th:if="${customers == null or customers.empty}">
            <h3>Lista de clientes vacia</h3>
        </div>
        <div th:if="${customers != null and !customers.empty}">
            <h3>Lista de clientes</h3>
            <table border="1" >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Notes</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.customerID}">ID</th>
                <td th:text="${customer.customerName}">Name</th>
                <td th:text="${customer.address}">ID</th>
                <td th:text="${customer.city}">Name</th>
                <td th:text="${customer.state}">Mobile</th>
                <td th:text="${customer.phone}">Email</th>
                <td th:text="${customer.mobileno}">Mobile</th>
                <td th:text="${customer.email}">Email</th>
                <td th:text="${customer.notes}">Email</th>    
            </tr>
        </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
